html, body {
    margin: 0;
    height: 100%;
}

#display {
  cursor: none;
}

.menu {
  position: fixed;
  top: 20px;
  left: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
    display: inline;
}

.box {
  position: fixed;
  top: 40%;
  left: 40%;
  padding: 50px;
  border: solid 5px;
  background: white;
}
