html, body {
    margin: 0;
    height: 100%;
}

#display {
  cursor: none;
}

div.menu
{
  position: fixed;
  top: 20px;
  left: 20px;
}

.box {
  position: fixed;
  top: 40%;
  left: 40%;
  width: 300px;
}
